<?xml version="1.0"?>
<robot name="phoxi_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find phoxi_description)/urdf/phoxi_camera.urdf.xacro"/>
  <xacro:include filename="$(find phoxi_description)/urdf/phoxi_camera_value.urdf.xacro"/>
  <gazebo reference="photoneo_center">
    <gravity>0</gravity>
  </gazebo>
  <xacro:include filename="$(find phoxi_gazebo)/urdf/urdf_plugin/phoxi_camera.gazebo.xacro"/>

  <xacro:arg name="sensor_size" default="L"/>
  <!-- <xacro:arg name="sensor_parent_frame" default="world"/> -->
  <xacro:arg name="sensor_parent_frame" default="base_link"/>

  <xacro:arg name="sensor_frame" default="photoneo_center"/>
  

  <!-- <xacro:arg name="x" default="0.15" /> -->

  <xacro:arg name="x" default="0" />
  <xacro:arg name="y" default="0" />
  <xacro:arg name="z" default="0" />
  <xacro:arg name="roll" default="0" />

  <xacro:arg name="pitch" default="+${M_PI/2}" />
  <!-- <xacro:arg name="pitch" default="0" /> -->
  <xacro:arg name="yaw" default="0" />

  <link name="$(arg sensor_parent_frame)"/>
  <xacro:phoxi_camera_v0 size="$(arg sensor_size)" sensor_parent_link_name="$(arg sensor_parent_frame)" sensor_link_name="$(arg sensor_frame)">
    <origin xyz="$(arg x) $(arg y) $(arg z)" rpy="$(arg roll) $(arg pitch) $(arg yaw)" />
  </xacro:phoxi_camera_v0>

  <xacro:photoneo_gazebo sensor_link_name="$(arg sensor_frame)" size="$(arg sensor_size)"/>
</robot>