<launch>
    <arg name="object_name" default="HV8"/>
    <arg name="use_sensor_type" default="phoxi_camera"/>
    <arg name="gui" default="true"/>
    <param name="use_gui" value="$(arg gui)"/>
    <arg name="sensor_model" value="$(find phoxi_description)/urdf/phoxi_camera_rviz.urdf.xacro"/>
    <arg name="sensor_parent_frame" default="base_link" />
    <arg name="sensor_tag" default="phoxi_camera" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find phoxi_description)/rviz/phoxi_rviz.rviz" required="true" />
   
    <param name="robot_description" type="str" command="$(find xacro)/xacro --inorder $(arg sensor_model) sensor_parent_frame:=$(arg sensor_parent_frame) " />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
    <node pkg="tf_package" type="tf_broadcast_server" name="tf_broadcast_server" output="screen">
        <rosparam file="$(find tf_package)/config/tf_broadcast_server.yaml" command="load" ns="" />
    </node>
</launch>