<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="display_object">
    <xacro:include filename="$(find object_description)/urdf/display_object/display_object.macro.xacro"/>
    <link name="base_link"/>
    <xacro:box parent="base_link" suffix="box2">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/> 
    </xacro:box>
    <gazebo reference="box2_link">
        <material>Gazebo/Green</material>
        <visual>
            <plugin name="screen_video_controller" filename="libgazebo_ros_video.so">
              <height>600</height>
              <width>1024</width>
              <topicName>/display_object_topic</topicName>
              <robotNamespace>display_object</robotNamespace>
            </plugin>
          </visual>
    </gazebo>
</robot>
