<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find phoxi_description)/urdf/phoxi_camera.urdf.macro.xacro" />

  <xacro:macro name="phoxi_camera_v0" params="size sensor_parent_link_name sensor_link_name *scanner_origin ">
    <joint name="${sensor_link_name}_joint" type="fixed">
      <parent link="${sensor_parent_link_name}"/>
      <child link="${sensor_link_name}" />
      <xacro:insert_block name="scanner_origin" />
    </joint>

    <joint name="${sensor_link_name}_sensor_frame_joint" type="fixed">
      <parent link="${sensor_link_name}" />
      <child link="${sensor_link_name}_sensor_frame" />
      <xacro:phoxi_camera_default_sensor_origin size="${size}" />
    </joint>

    <joint name="${sensor_link_name}_camera_frame_joint" type="fixed">
      <parent link="${sensor_link_name}" />
      <child link="${sensor_link_name}_camera_frame" />
      <xacro:phoxi_camera_default_camera_origin size="${size}" />
    </joint>

    <joint name="${sensor_link_name}_optical_frame_joint" type="fixed">
      <parent link="${sensor_link_name}" />
      <child link="${sensor_link_name}_optical_frame" />
      <!-- <origin xyz="0 0 0" rpy="${-M_PI/2} ${-M_PI/2} ${-M_PI/2}" /> -->
      <!-- <origin xyz="0 0 0" rpy="${-M_PI/2} ${-M_PI/2} ${-M_PI/2}" /> -->
      <!-- <origin xyz="0 0 0" rpy="${M_PI} ${M_PI/2} ${M_PI}" /> -->
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    </joint>

    <link name="${sensor_link_name}">
      <visual>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI}" />
        <!-- <origin xyz="0 0 0" rpy="${M_PI/2} ${M_PI/2} ${M_PI}" /> -->
        <geometry>
          <xacro:phoxi_camera_visual size="${size}" />
        </geometry>
        <material name="">
          <color rgba="0.1 0.1 0.1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI}" />
        <!-- <origin xyz="0 0 0" rpy="${M_PI/2} ${M_PI/2} ${M_PI}" /> -->
        <geometry>
          <xacro:phoxi_camera_collision size="${size}" />
        </geometry>
      </collision>
      <inertial>
        <xacro:phoxi_camera_default_sensor_mass size="${size}" />
        <inertia ixx="1.0" ixy="0" ixz="0"
                iyy="1.0" iyz="0"
                izz="1.0" /> <!-- Bullshit inertia parameter -->
      </inertial>
    </link>

    <link name="${sensor_link_name}_sensor_frame" />
    <link name="${sensor_link_name}_camera_frame" />
    <link name="${sensor_link_name}_optical_frame" />

  </xacro:macro>
</robot>
